/* style.css */
body {
    margin: 10;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Забезпечує мінімальну висоту всього документа */
}

header, footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    display: flex;
    flex: 0.5; /* Займає весь доступний простір між заголовком і підвалом */
}

.sidebar-left, .sidebar-right {
    width: 20%; /* Ширина сайдбарів */
    background-color: #f5f5f5;
    padding: 20px;
}

.main-content {
    flex: 1; /* Займає решту доступного простору */
    padding: 20px;
}
